.dashboard{
padding: 15px 150px;
}
@media (max-width: 780px){
    .dashboard{
        padding: 10px 50px;
        } 
    .profileName{
        font-size: 9px !important;
    }
    .startTrial{
        font-size: 12px !important;
    }
    .currency{
        font-size: 8px !important;
    }
    .price{
        font-size: 15px !important;
    }
    .selectPackage{
        font-size: 8px !important;
    }
    .packageDetails{
        
        flex-direction: column !important;
        justify-content: space-between;
    }
    /* .priceDetails, .basicDetails{
        height: 100px !important;
        width: 100px !important;
    } */
    .priceDetails, .basicDetails{
        margin: 10px 0 !important;
    }
    .moduleIcon{
        display: none;
    }
  
}
.profileName{
    color: var(--color-neutral-gray);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.startTrial{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}
.trialPeriod{
    color: orange;
    font-style: italic;
}
.selectPackage{
    color: var(--color-neutral-gray);
    font-size: 12px;
}
.currency{
    color: var(--color-primary);
    font-size: 13px;
}
.price{
    font-size: 25px;
    font-weight: bold;
    color: var(--color-primary);
}
.total{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-neutral-gray);
    }
    .exclude{
        color: var(--color-neutral-gray);
        font-size: 10px;
    }
.dashboardTop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.prizeTotal{
    display: flex;
    flex-direction: column;
}

.packageDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 50px; */
}
.priceDetails{
    width: 200px;
    height: 200px;
    margin-right: 45px;
    padding: 30px;
    align-self: flex-end;
    background-color: var(--color-white);
    box-shadow: 5px 5px 10px 10px whitesmoke;
}
.basicDetails{
    border: 1px solid rgba(30, 30, 199, 0.699);
    border-radius: 15px;
    width: 200px;
    /* height: 250px; */
    margin-left: 45px;
    padding: 40px;
    background: var(--color-skyblue);
}
.basicDetails h3{
    color: var(--color-primary);
}
.basicTrialDays{
    color: var(--color-neutral-gray);
    font-weight: bold;
    font-size: 13px;
}
.premiumFeature{
    color: var(--color-neutral-gray);
    font-size: 11px;
}
.basicDetails div p span{
    text-transform: uppercase;
    color: var(--color-neutral-gray);
    font-size: 14px;
    font-weight: bold;
}
.basicDetails div p ul li{
    color: var(--color-neutral-gray);
    font-size: 12px;
    list-style: none;
    text-transform: capitalize;
}
.mainPrice{
    display: flex;
    flex-direction: column;
}
.startsFrom{
    color: orange;
    font-size: 12px;
}
.mainPriceLight{
    color: var(--color-neutral-gray);
    font-size: 11px;
}
.mainPriceBold{
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}
.priceDetails p{
    display: flex;
    flex-direction: column;
}
.progresSection{
    color: var(--color-neutral-gray);
}
.progresSection span{
    font-size: 12px;
    margin-top: -10px;
}
.prgresBar{
    margin: 30px 0;
}




.gridBody{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    color: var(--color-neutral-gray);
}
.productsCard{
    background-color: rgba(119, 102, 94, 0.863);
    text-align: center;
    height: 300px;
    border-radius: 17px;
    padding: 15px;
    border: rgba(19, 18, 18, 0.473) 3px solid;

}
.moduleItems{
    display: flex;
    justify-content: space-between;
}
.moduleIcon{
    margin-right: 15px;
    align-self: flex-end;
    font-size: 25px;
}

.borderLine{
    border-bottom: 2px dashed #336cfb8a;
    padding-top: 20px;
}


.button{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.backBtn{
    background: none;
    color: rgba(182, 13, 13, 0.576);
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: capitalize;
}
.backBtn:hover{
    color: rgb(182, 13, 13);
}
.continueBtn{
    background: rgba(220, 220, 6, 0.857);
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.604);
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 100px;
}
.continueBtn:hover{
    background: rgb(189, 189, 6);
    color: rgba(0, 0, 0, 0.898);


}