.layout{
    
        display: grid;
        grid-template-columns: 340px 1fr;
    }
    @media (max-width: 780px){
        .layout{
            grid-template-columns:150px 1fr;
        }
        .pageContent {
            padding: 20px 28px 0 26px;
          }
    }
.pageContent {
    padding: 30px 38px 0 36px;
  }